body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #4fd1c5;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.App form {
  width: 350px;
  border-radius: 16px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  background: #fff;
}

.App form button {
  width: 80px;
  border-radius: 6px;
  padding: 8px 0;
  border: none;
  background: #4fd1c5;
  color: #fff;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
  margin-top: 10px;
}

.App form button:hover {
  opacity: 0.5;
}

h1 {
  text-align: center;
}
